<app-header></app-header>
<main class="d-flex flex-column h-100 w-100 justify-content-center align-items-center main-login bg-black">
  <div class="container container-tt">
    <h1 class="title-form">{{ membersEdit.length > 0 ? 'Editar miembros' : 'Miembros' }}</h1>
    <div *ngIf="error_message" class="alert alert-danger mt-3">{{ error_message }}</div>

    <form [formGroup]="addMemberForm" (ngSubmit)="onSubmit()">
      <div> 
        <button type="button" class="addMember text-end w-100" (click)="agregarMiembro()">Agregar Miembro <i class="fa-solid fa-plus" style="color : #D61A46"></i></button>
      </div>

      <div formArrayName="members">
        <div *ngFor="let member of membersArray.controls; let i = index" [formGroupName]="i" class="py-4 member">
          <input type="hidden" formControlName="id">
          <div class="form-group">
            <label for="name-{{i}}">Nombre</label>
            <input type="text" class="form-control" id="name-{{i}}" formControlName="name" placeholder="Introduzca el nombre">
            <div *ngIf="member.get('name')?.invalid && member.get('name')?.touched" class="text-danger">
              El nombre del miembro es obligatorio.
            </div>
          </div>
          <div class="form-group">
            <label for="instrument-{{i}}">Instrumento</label>
            <input type="text" class="form-control" id="instrument-{{i}}" formControlName="instrument" placeholder="Introduzca el instrumento">
            <div *ngIf="member.get('instrument')?.invalid && member.get('instrument')?.touched" class="text-danger">
              El instrumento es obligatorio.
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-5 btn-color-primary-tt">Guardar</button>
    </form>
  </div>
</main>
