<app-header></app-header>
<main class="d-flex flex-column h-100 w-100 justify-content-center align-items-center main-login bg-black pt-5">
  <div class="container container-tt"> 
    <h1 class="my-4 title-form">Bienvenido</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login w-100">
      @if(error_message()){
      <div class="alert alert-danger" role="alert">{{error_message()}}</div>
      }
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf="submitted() && loginForm.controls['email'].invalid" class="text-danger">
          <div *ngIf="loginForm.controls['email'].errors?.['required']">El email es obligatorio.</div>
          <div *ngIf="loginForm.controls['email'].errors?.['pattern']">El email no es válido.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <div *ngIf="submitted() && loginForm.controls['password'].invalid" class="text-danger">
          <div *ngIf="loginForm.controls['password'].errors?.['required']">La contraseña es obligatoria.</div>
          <div *ngIf="loginForm.controls['password'].errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100 btn-color-primary-tt">Enviar</button>
      <a href="/registrate" class="btn btn-link">Registrarse</a>
    </form>
  </div>
</main>
